table {
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 15px 15px 15px lightgray;
    width: 20%;
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
	background-color: lightgray;
}

caption {
    caption-side: bottom;
    font-size: 0.85rem;
    padding: 20px;
}

.blue {
    background-color: blue;
    color: white;
}

thead tr:first-child th,
thead tr:nth-child(2) th:first-child {
    background-color: blue;
    color: white;
    text-align: center;
    border: 1px solid blue;
}

td,
th {
    padding: 5px 10px;
    text-align: center;
    border: thin solid rgb(21, 20, 20);
}





