section {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

h1 {
    text-align: center;
}

section picture {
    margin: 0 auto;
    width: 100;
    
}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

