@media only screen and (max-width: 40em) { 
    nav ul {
        display: flex;
        flex-direction: column;
        
        justify-content: center;
    }
    
    nav ul li {
        margin-bottom: 5%;
    
    }
}