@media only screen and (min-width: 500px) { 
    .navigation {
        display: flex;
        font-size: 1.2rem;
        margin-left: 5%;
    }
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    #top-row {
        display: flex;
        align-items: center;
        justify-content:space-between;
        max-width: 80%;
        margin: 0 auto;
    }

    

    section div p {
        font-size: 1.3em;
    }

    .navigation {
        border: none;
    }

    #hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/wdd230-orgMedium800px.jpeg");
        height: inherit;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
          
      }

    .spotlights {
        background-color: #002349;
        width: 50%;
        border: 1px solid white;
    }



    #spotlight-section {
        
        gap: 1%;
        background-color: white;
    }

    #spotlight-div {
        display:flex;
        flex-direction: row;
    }

  

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    section:nth-child(1) { 
        order: 1; 
        width: 100%;
    }
    section:nth-child(4) {
        order: 2;
        width: 100%; 
    }
    section:nth-child(5) { 
        order: 3; 
        width: 100%; 
    }
    section:nth-child(2) { 
        order: 5; 
        width: 66%;
    }
    section:nth-child(3) { 
        order: 6; 
        width: 33%;
        
    }
    section:nth-of-type(6) {
        display: block;
        order: 4;
        width: 100%;
    }
    
   

    
}

@media only screen and (max-width: 800px) {
    
 }