@media only screen and (min-width: 500px) { 
    .navigation {
        display: flex;
        font-size: 1.2rem;
        margin-left: 5%;
    }
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    #top-row {
        display: flex;
        align-items: center;
        justify-content:space-between;
        max-width: 80%;
        margin: 0 auto;
    }

    

    section div p {
        font-size: 1.3em;
    }

    .navigation {
        border: none;
    }

    #hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/wdd230-orgMedium800px.jpeg");
        height: inherit;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
          
      }

    .spotlights {
        background-color: #002349;
        width: 50%;
        border: 1px solid white;
    }



    #spotlight-section {
        
        gap: 1%;
        background-color: white;
    }

    #spotlight-div {
        display:flex;
        flex-direction: row;
    }

  

    #main-index {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #hero-image { 
        order: 1; 
        width: 100%;
    }
    #news-section {
        order: 2;
        width: 100%; 
    }
    #spotlight-section { 
        order: 3; 
        width: 100%; 
    }
    #events-section { 
        order: 5; 
        width: 66%;
    }
    #weather-section { 
        order: 6; 
        width: 33%;
        
    }
    #join-section {
        display: block;
        order: 4;
        width: 100%;
    }

    #directory-heading-div {
        margin-bottom: 3%;
        
    }
    
/* grid view ---------------------------------- */

.grid-view {
	display: flex;
    align-items: start;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row;
}


#directory-div .grid-card {
	max-height: 15%;
	border: 1px solid black;
	box-shadow: 0 10px 10px 10px rgb(61 56 56 / 28%);
	margin: 0 5% 5% 5%;
	border-radius: 10px;
	text-align: center;
    width: 30%;
	

}

#directory-div .grid-card p {
	text-align: center;
	margin: 5%;
	
}

#directory-div .grid-card div {
	margin: 0 auto;
	text-align: center;


	
}

#directory-div .grid-card div img {
	width: 40%;
}

/* list view ---------------------------------- */

#directory-div .list-card {
	box-shadow: 0 7px 7px 7px rgb(61 56 56 / 28%);
	margin: 0 3% 3% 3%;
    font-size: 1.2rem;
}
#directory-div .list-card p:nth-of-type(3) {
    display: block;
}

#list-button {
	background-color: #002349;
	color: white;
	border-radius: 5px;
    height: 100%;
    width: 30%;
    box-shadow: 0 5px 5px 5px rgb(61 56 56 / 28%);
    margin-right: 5%;
}

#grid-button {
	background-color: #957C3D;
	color: white;
	border-radius: 5px;
    height: 100%;
    width: 30%;
    box-shadow: 0 5px 5px 5px rgb(61 56 56 / 28%);
}
#button-div {
	width: 50%;
	/* border: 1px solid black; */
	text-align: right;
    height: 50px;
    
}
    
}

@media only screen and (max-width: 800px) {
    
 }