@media only screen and (min-width: 800px) {
    body {
        max-width: 1000px;
        margin: 0 auto;
    }

    iframe {
        height: 450px;
        width: 600px;
    }

    #hero-img-div {
        background-image: url("../images/hero-large1500.jpeg");
        
     
      }

    #beach-div {
        background-image: url("../images/beach-large1500.jpeg");
        
    }
}