@media only screen and (min-width: 500px) { 

    #location-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #location-section > div {
      height: 100%;
      
    }

    #nav-img-div > img {
      max-width: 20%;
      margin: 0 auto;
      text-align: center;
  }

  #hero-section {
    max-height: 75vh;
  }
  #location-section > div {
    max-height: 1000px;
    margin: 0 auto;
  }

  #hero-img-div > div {
    position: absolute;
    top: 10%;
    left: 35%;
    background-color: var(--yellow-vivid-500);
    color: var(--warm-grey-800);
    height: 3rem;
    width: 30%;
    border-radius: 20px;
    padding: 2% 2% 0% 2%;
    text-align: center;
    font-size: 1.5rem;
  }

  iframe {
    height: 250px;
    width: 400px;
  }

  #hero-img-div {
    background-image: url("../images/hero-medium800.jpeg");
 
  }

  #beach-div {
    background-image: url("../images/beach-medium800.jpeg");
  }


}


