@media only screen and (min-width: 32.5em) { 
    #section1 {
        max-height: 40vh;
        flex-direction: row;
        padding: 0 0 0 0;
     }

     img {
        max-height: 30vh;
     }



} 